.login-form {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-form button:hover {
  background-color: #0b5ed7;
}

.login-form a {
  text-align: center;
  color: #0d6efd;
  text-decoration: none;
  display: inline;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

.login-form .links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  text-align: center;
}

.login-form p {
  margin: 0;
}

.login-form .links-container a {
  margin-bottom: 10px;
}

.dark-mode .login-form {
  background-color: #252525;
  border: 1px solid #444;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
}

.dark-mode .login-form h1 {
  color: white;
}

.dark-mode .login-form input {
  background-color: #333;
  border: 1px solid #555;
  color: #f0f0f0;
}

.dark-mode .login-form input::placeholder {
  color: #888;
}

.dark-mode .login-form button {
  background-color: #9370db;
}

.dark-mode .login-form button:hover {
  background-color: #a780e5;
}

.dark-mode .login-form a {
  color: #add8e6;
}
